html, body {
    background: url("../images/concert_back.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    width: 100%;
    margin: 0px;
}

h1, h4 {
    text-align: center;
    color: white;
    font-weight: bold;
}

img {
    width: 100%;
}